<section class="about" id="about">
  <div class="about__container">
    <!-- Фото -->
    <picture class="about__image">
      <!-- Мобільна версія -->
      <source srcset="img/about/about-m@1x.png 1x, img/about/about-m@2x.png 2x" media="(max-width: 767px)" />

      <!-- Планшетна версія -->
      <source srcset="img/about/about-t@1x.png 1x, img/about/about-t@2x.png 2x"
        media="(min-width: 768px) and (max-width: 1439px)" />

      <!-- Десктопна версія -->
      <source srcset="img/about/about@1x.png 1x, img/about/about@2x.png 2x" media="(min-width: 1440px)" />

      <!-- fallback -->
      <img src="img/about/about@1x.png" alt="team" />
    </picture>

    <!-- Контент -->
    <div class="about__content">
      <div class="about__logo">
        <svg class="logo-icon" width="80" height="80">
          <use href="./img/sprite.svg#icon-logo-icon"></use>
        </svg>
      </div>
      <h2 class="about__title">About ArtistsHub</h2>
      <p class="about__text">
        At ArtistsHub, our mission is to connect music lovers with the artists they adore.
        We strive to create a vibrant community where discovering new music
        is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>

<!-- JS підключення -->
<script src="./js/about.js"></script>