<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Template</title>
    <link rel="stylesheet" href="../css/artist-modal.css">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Epilogue:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="modal_window">
        <div class="modal">
            <button class="modal_close" type="button">
                <svg class="close-icon" width="14" height="14">
                    <use href="../img/modal/modal-icons.svg#icon-close"></use>
                </svg>
            </button>

            <h2 class="modal_artist"></h2>

            <div class="modal_content">
                <picture class="artist_picture">
                    <img src="#" alt="Artist image">
                </picture>

                <div class="modal_all_info">
                    <ul class="modal_basic_info">
                        <li>
                            <h3 class="modal_item_info">Years active</h3>
                            <p></p>
                        </li>
                        <li>
                            <h3 class="modal_item_info">Sex</h3>
                            <p></p>
                        </li>
                        <li>
                            <h3 class="modal_item_info">Members</h3>
                            <p></p>
                        </li>
                        <li>
                            <h3 class="modal_item_info">Country</h3>
                            <p></p>
                        </li>
                    </ul>

                    <div class="modal_biography">
                        <h3 class="modal_title_biography">Biography</h3>
                        <p class="modal_text_biography"></p>
                    </div>

                    <ul class="genres"></ul>
                </div>
            </div>

            <div class="albums_info">
                <h2 class="albums">Albums</h2>
                <ul class="albums_list"></ul>
            </div>
        </div>
    </div>

    <script type="module" src="../js/artist-modal.js"></script>
</body>

</html>