<section class="artists-section" id="artists">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-subtitle">Explore Your New Favorite Artists</p>

    <!-- Loader -->
    <div id="artists-loader" class="artists-loader" hidden></div>
    <!-- Список артистів  -->

    <ul id="artists-list" class="artists-grid"></ul>
    <!-- Кнопка завантаження -->
    <div class="load-more-wrapper">
      <button
        id="load-more"
        class="load-more-btn"
        type="button"
        aria-label="Load more artists"
      >
        <span class="btn-text">Load More</span>
        <svg class="btn-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-down-arrow-alt"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
