<header class="header">
  <a href="index.html" class="logo_header" aria-label="logo">
    <svg class="img-header" width="119" height="51">
      <use xlink:href="./img/sprite.svg#icon-logo"></use>
    </svg>
  </a>

  <!-- бургер кнопка -->
  <button class="burger_header" aria-label="menu">
    <svg class="icon_burger">
      <use href="../img/sprite.svg#icon-menu-alt-right"></use>
    </svg>
  </button>

  <!-- навігація (спочатку прихована) -->
  <nav class="nav_header">
    <button class="close_header" aria-label="close menu">
      <svg class="icon_close">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul>
      <li><a href="#" data-target="artists">Artists</a></li>
      <li><a href="#" data-target="about">About Us</a></li>
      <li><a href="#" data-target="feedbacks">Reviews</a></li>
    </ul>
  </nav>
</header>
