<head>
  <link rel="stylesheet" href="../css/header.css" />
</head>
<body>
  <header class="header">
    <a href="index.html" class="logo_header"
      ><img src="../img/favicon.svg" alt="logo" width="119" height="51" />
    </a>

    <!-- бургер кнопка -->
    <button class="burger_header" aria-label="menu">
      <svg class="icon_header"><use href="#icon-iconBurgerMenu"></use></svg>
    </button>

    <!-- навігація (спочатку прихована) -->
    <nav class="nav_header">
      <button class="close_header" aria-label="close menu">
        <svg class="icon_header"><use href="#icon-iconClose"></use></svg>
      </button>
      <ul>
        <li><a href="#Artists">Artists</a></li>
        <li><a href="#AboutUs">About Us</a></li>
        <li><a href="#Reviews">Reviews</a></li>
      </ul>
    </nav>
  </header>

  <script src="../js/header.js"></script>
</body>
