<section class="hero">
    <div class="hero-container">
        <!-- Лівий блок -->
        <div class="hero-content">
            <h1 class="hero-title">
                Discover Your <br />
                Next Favorite <br />
                Artist Today
            </h1>
            <p class="hero-text">
                Dive into a world of music discoveries with ArtistsHub – your personal
                guide to the boundless universe of sound. Explore, filter, and learn
                about your favorite artists all in one place.
            </p>
            <button class="hero-btn">
                Explore Artists
                <svg class="btn-icon" width="15" height="20">
                    <use href="./img/sprite.svg#icon-play"></use>
                </svg>
            </button>
        </div>

        <!-- Правий блок -->
        <div class="hero-images">
            <div class="hero-img artist1"></div>
            <div class="hero-img artist2"></div>
            <div class="hero-img artist3"></div>
            <div class="hero-img artist4"></div>
            <div class="hero-img artist5"></div>
            <div class="hero-img artist6"></div>
        </div>
    </div>
</section>