.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Початковий стан */
.about picture,
.about__content {
    opacity: 0;
    transform: translateY(30px);
}

.about__content.fade-in {
    transition-delay: 0.3s;
}

.about {
    background: var(--color-scheme-1-background);
    padding: 16px 64px;
}

.about h2 {
    color: var(--color-scheme-1-text);
}

.about p {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

/* ---------- MOBILE  ---------- */
.about {
    max-width: 320px;
    height: 716px;
    margin: 0 auto;
    padding: 16px 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about img {
    width: 288px;
    height: 169px;
    object-fit: cover;
    border-radius: 16px;
}

.about h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 24px;
    line-height: 130%;
}

.about p {
    font-size: 18px;
}

/* ---------- TABLET  ---------- */
@media (min-width: 768px) {
    .about {
        max-width: 768px;
        height: 836px;
        padding: 32px 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .about img {
        width: 704px;
        height: 413px;
        object-fit: cover;
    }

    .about h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 44px;
        line-height: 120%;
        letter-spacing: -0.01em;
    }

    .about p {
        font-size: 20px;
    }
}

/* ---------- DESKTOP  ---------- */
@media (min-width: 1024px) {
    .about {
        max-width: 1440px;
        height: 890px;
        margin: 0 auto;
        padding: 112px 64px;
        display: grid;
        grid-template-columns: 640px 1fr;
        /* фото + контент */
        align-items: center;
        gap: 64px;
    }

    .about img {
        width: 640px;
        height: 665px;
        object-fit: cover;
    }

    .about h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 60px;
        line-height: 120%;
        letter-spacing: -0.01em;
        margin-bottom: 24px;
    }

    .about p {
        font-size: 20px;
        max-width: 520px;
    }
}